/*--------UNIVERSAL-STYLES--------*/
*, *:before, *:after {
        box-sizing: border-box;
        font-family: serif;
}

@font-face {
	font-family: "Space Mono";
	src: url(assets/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
	font-family: "Space Mono Italic";
	src: url(assets/Space_Mono/SpaceMono-Italic.ttf);
}

@font-face {
	font-family: "Space Mono Bold";
	src: url(assets/Space_Mono/SpaceMono-Bold.ttf);
}

@font-face {
	font-family: "Space Mono Bold Italic";
	src: url(assets/Space_Mono/SpaceMono-BoldItalic.ttf);
}

/*------BODY-STYLES------*/

body {
	background-color: #fff;
}

.wrapper {
	margin: 0 auto;
	padding-top: 2%;
	padding-left: 25%;
	padding-right: 25%;
}

h2 {
	font-family: "Space Mono", monospace;
	font-weight: normal;
	display: inline-block;
	font-size: 2.7em;
	margin-bottom: .3em;
}

input[type=text] {
	display: block;
	border-color: black;
	border-width: 2px;
	padding: 1em;
	width: 100%;
	margin: 0 auto;
	font-family: "Space Mono", monospace;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	font-size: 1.2em;
}

.tasks li {
	font-family: "Space Mono", monospace;
	line-height: 2.5em;
	border-bottom: solid 2px black;
	position: relative;
}

.tasks li.complete::before {
	content: '';
    border-bottom: 3px solid #0033cc;
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.tasks button {
	width: 30px;
	height: 30px;
	line-height: .03em;
	border: solid black 2px;
	background-color: #fff;
	margin: 10px;
	margin-right: 0;
	font-family: "Space Mono", monospace;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	float: right;

}

.filter-menu {
	border-bottom: solid 2px black;
}

.filter-menu li {
	display: inline-block;
}

.filter-menu a {
	text-decoration: none;
	font-family: "Space Mono Italic", monospace;
	color: black;
	margin: 0 2.5em;
}

.filter-menu a:first-child {
	margin-left: 0; 
}

.filter-menu a:hover {
	font-family: "Space Mono Bold Italic", monospace;
}

.filter-menu a.active {
	font-family: "Space Mono Bold Italic", monospace;	
}

.counter {
	font-family: "Space Mono Bold", monospace;
	margin: 0 2.5em;
}

.counter-count {
	font-family: "Space Mono Bold", monospace;
	margin: 0 .5em;
}

.tasks-counter {
	font-family: "Space Mono Italic", monospace;
	text-align: right;
}